.birthday{padding-bottom: 100px; padding-top: 50px;}
.birthday h1{
    font-size: 45px;
    font-weight: bolder;
}
.birthday a{
    color: #000;
    text-decoration: none;
    padding-top: 10px;
    font-weight: bold;
}
.birthday .birthdaySlider .imagebirth{
     width: 100%; 
     /* height: 350px; */
     object-fit: contain;
    }
.birthday .birthdaySlider h2{font-weight: bolder;}
.birthday ul{    display: inline-flex;}
.birthday .birthNext,
.birthday .birthPrev{
    font-size: 35px;
    padding: 10px;
}
.item{position: relative;}
.birthdaySlider .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0,0,0,0.75);
    color: #fff;
  }

.item:hover .overlay {
    opacity: 1;
  } 

.birthdaySlider .item a{
    color: #fff;
    position: relative;
    top: 50%;
    text-decoration: none;
}

@media (max-width: 575.98px){
    /* .birthday .birthdaySlider .imagebirth {height: 150px;} */
    .birthday h1 {font-size: 25px;}
    .birthday p{    font-size: 9px;    }
    .birthday {padding-bottom: 48px;}
    .birthday .next, .birthday .prev {font-size: 20px;}
    .birthday .birthdaySlider h2{font-size: 12px;}
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    /* .birthday .birthdaySlider .imagebirth {height: 150px;} */
    .birthday h1 {font-size: 25px;}
    .birthday p{    font-size: 9px;    }
    .birthday {padding-bottom: 48px;}
    .birthday .next, .birthday .prev {font-size: 20px;}
    .birthday .birthdaySlider h2{font-size: 12px;}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    /* .birthday .birthdaySlider .imagebirth {height: 150px;    margin-bottom: 13px;    } */
    .birthday h1 {font-size: 25px;}
    .birthday p{    font-size: 9px;    }
    .birthday {padding-bottom: 48px;}
    /* .birthday .next, .birthday .prev {font-size: 20px;} */
    .birthday .birthdaySlider h2{font-size: 17px;}

}


/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
   
}